.container {
  max-width: 1200px;
  margin: 0 auto;
  padding:0 1em;
}

.addTodoContainer {
  background: #f3e5f5;
  margin: 2em 0;
  padding: 2em;
  box-shadow: 0px 0px 12px -5px #da41bb;
  border-radius:9px;
  display: flex;
  align-items: center;
}
